* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Muli", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

body {
  background: white; }

.clearfix::before,
.clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  color: #212529;
  font-weight: 700;
  font-size: 2.5em;
  text-transform: uppercase; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.navbar {
  background: #212529;
  position: fixed;
  width: 100%;
  z-index: 100; }

.navbar__group {
  float: right;
  margin-right: 100px; }

.navbar__item {
  cursor: pointer;
  color: white;
  display: block;
  float: left;
  font-size: 1.2em;
  padding: 15px 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.navbar__item:hover,
.navbar__item:active {
  color: #FFC600; }

.navbar__item--home {
  margin-left: 10%; }

.hero {
  background-image: url("../img/hero.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px; }

.hero__title {
  font-family: "Montserrat", "Arial", serif;
  font-weight: 700;
  font-size: 4em;
  color: white;
  text-transform: uppercase; }

.hero__subtitle {
  font-family: "Droid Serif", "Arial", serif;
  font-size: 2em;
  font-style: italic;
  color: white; }

.logo-wrapper {
  text-align: center; }

.logo {
  margin-top: -125px;
  width: 250px;
  height: 250px;
  border: 10px solid white;
  border-radius: 50%; }

.section {
  margin: 20px 0;
  margin-left: 15%;
  margin-right: 15%; }

.section--about {
  margin-top: 100px;
  margin-bottom: 150px; }

.section--skills > h2 {
  color: white; }

.section--skills .line-below::after {
  background: white; }

.background-hobbies {
  background: #EDEFF5;
  padding: 50px 0; }

.background-skills {
  background-image: url("../img/bg-skill.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0; }

.line-below {
  position: relative;
  margin: 20px 0; }

.line-below::after {
  content: "";
  display: block;
  background: #212529;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 5px; }

.info__item {
  font-size: 1.2em;
  width: 50%;
  float: left;
  margin: 20px 0;
  padding-right: 20px; }

.info__item li > span {
  font-style: italic; }

.skills__group {
  margin-top: 50px;
  margin-bottom: 50px; }

.skills__item {
  background: rgba(170, 170, 170, 0.8);
  display: block;
  float: left;
  text-align: center;
  width: 25%;
  height: 250px;
  position: relative; }

.skills__item span {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  color: #212529;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.skills__item:nth-child(odd) {
  background: rgba(255, 255, 255, 0.8); }

.hobbies-group {
  margin: 50px -15px; }

.hobbies-image {
  padding: 15px;
  width: 33.3333333333333333%;
  float: left;
  text-align: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }

.hobbies-image:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.hobbies-image figcaption {
  background: white;
  font-size: 1.6em;
  font-weight: 700;
  padding: 20px 0; }

.hobbies-group img {
  display: block;
  width: 100%; }

.work-group {
  position: relative; }

.work-group::before {
  content: '';
  background: #EDEFF5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: 50%; }

.work__item {
  font-size: 1.2em;
  display: block;
  margin: 100px 0;
  position: relative;
  width: 50%; }

.work__item:nth-child(2n+1) {
  text-align: right; }

.work__item:nth-child(2n) {
  text-align: left;
  margin-left: 50%; }

.work__item img {
  width: 180px;
  border-radius: 50%;
  border: 8px solid #EDEFF5; }

.work__item span {
  font-weight: 700; }

.work__item:nth-child(2n) img,
.start {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.work__item:nth-child(2n+1) img {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); }

.start {
  background: #FFC600;
  border-radius: 50%;
  border: 8px solid #EDEFF5;
  font-weight: 700;
  height: 180px;
  position: relative;
  text-align: center;
  width: 180px; }

.start::after {
  content: 'BE PART OF MY STORY!';
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.hidden {
  display: none; }
