$light-gray: #EDEFF5;
$yellow: #FFC600;
$black-opacity:rgba(170, 170, 170, 0.5);
$light-black:#212529;
$font-montserrat: "Montserrat",
"Arial",
sans-serif;
$font-droid-serif: "Droid Serif",
"Arial",
serif;
* {
    box-sizing: border-box;
    font-family: "Muli", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background: white;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

h2 {
    font-family: $font-montserrat;
    color: $light-black;
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.3s;
}
.navbar--collapse{
    background: $light-black;
}
.navbar__group {
    float: right;
    margin-right: 100px;
}

.navbar__item {
    cursor: pointer;
    color: white;
    display: block;
    float: left;
    font-size: 1.2em;
    padding: 40px 20px;
    transition: 0.5s;
}

.navbar__item--collapse{
    padding: 15px 20px;
}
.navbar__item a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.navbar__item a:hover,
.navbar__item a:active {
    color: $yellow;
}
.navbar__item--home {
    margin-left: 10%;
}

.hero {
    background-image: url("../img/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px;
}

.hero__title {
    font-family: "Montserrat", "Arial", serif;
    font-weight: 700;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
}

.hero__subtitle {
    font-family: $font-droid-serif;
    font-size: 2em;
    font-style: italic;
    color: white;
}

.logo-wrapper {
    text-align: center;
}

.logo {
    margin-top: -125px;
    width: 250px;
    height: 250px;
    border: 10px solid white;
    border-radius: 50%;
}

.section {
    margin: 20px 0;
    margin-left: 15%;
    margin-right: 15%;
}

.section--about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section--work {
    margin-top: 70px;
}

.section--white-title>h2 {
    color: white;
}

.section--white-title .line-below::after {
    background: white;
}

[class^="background-"] {
    padding: 50px 0;
}

.background-hobbies {
    background: $light-gray;
}

.background-skills {
    background: url("../img/bg-skill.jpg") no-repeat fixed center;
    background-size: cover;
}

.background-contact {
    background: url("../img/bg-contact.jpg") no-repeat fixed center;
    background-size: cover;
}

.line-below {
    position: relative;
    margin: 20px 0;
}

.line-below::after {
    content: "";
    display: block;
    background: $light-black;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 5px;
}

.info__item {
    font-size: 1.2em;
    width: 50%;
    float: left;
    margin: 20px 0;
    padding-right: 20px;
}

.skills__group {
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills__item {
    background: $black-opacity;
    display: block;
    float: left;
    text-align: center;
    width: 25%;
    height: 250px;
    position: relative;
}

.skills__item span {
    font-family: $font-montserrat;
    font-size: 1.8em;
    font-weight: 700;
    color: $light-black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skills__item:nth-child(1) span{
    color: #E54F27;
}
.skills__item:nth-child(2) span{
    color: #077DBB;
}
.skills__item:nth-child(3) span{
    color: #F0DB4F;
}
.skills__item:nth-child(4) span{
    color: #61408F;
}
.skills__item:nth-child(5) span{
    color: $light-black;
}
.skills__item:nth-child(6) span{
    color: #CD669A;
}
.skills__item:nth-child(7) span{
    color: #649AD2;
}
.skills__item:nth-child(8) span{
    color: #EA2D2F;
}
.skills__item--white {
    background: rgba(255, 255, 255, 0.8);
}

.hobbies-group {
    margin: 50px -15px;
}

.hobbies-image {
    padding: 15px;
    width: 33.3333333333333333%;
    float: left;
    text-align: center;
    transition: 0.3s ease;
}

.hobbies-image:hover {
    transform: scale(1.05);
}

.hobbies-image figcaption {
    background: white;
    font-family: $font-montserrat;
    font-size: 1.6em;
    font-weight: 400;
    padding: 20px 0;
}

.hobbies-group img {
    display: block;
    width: 100%;
}

.work-group {
    position: relative;
}

.work-group::before {
    content: '';
    background: $light-gray;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: 50%;
}

.work__item {
    font-size: 1.5em;
    display: block;
    margin: 200px 0;
    position: relative;
    width: 50%;
}

.work__item:first-child {
    margin-top: 50px;
}

.work__item:last-child {
    margin-bottom: 50px;
}

.work__item img {
    width: 180px;
    border-radius: 50%;
    border: 8px solid $light-gray;
}

.work__item span {
    font-family: $font-montserrat;
    font-weight: 700;
}

.work__item:nth-child(odd) {
    text-align: right;
}

.work__item:nth-child(even) {
    text-align: left;
    margin-left: 50%;
}

.work__item:nth-child(even) img,
.start {
    transform: translateX(-50%);
}

.work__item:nth-child(even) .work__content {
    margin-left: 120px;
}

.work__item:nth-child(odd) img {
    transform: translateX(50%);
}

.work__item:nth-child(odd) .work__content {
    margin-right: 120px;
}

.work__content {
    margin-top: -130px;
}

.start {
    background: $yellow;
    border-radius: 50%;
    border: 8px solid $light-gray;
    font-family: $font-montserrat;
    font-weight: 700;
    height: 180px;
    position: relative;
    text-align: center;
    width: 180px;
}

.start>span {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    margin: 50px 0;
}

.contact__input {
    display: block;
    box-shadow: 0px 2px 10px #414141;
    width: 49%;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 20px;
    margin: 20px 0;
}

.contact__input:first-child {
    float: left;
}

.contact__input:nth-child(2) {
    float: right;
}

.contact__input:nth-child(3) {
    resize: none;
    width: 100%;
}

.contact__button {
    cursor: pointer;
    box-shadow: 0px 2px 10px #414141;
    display: block;
    margin: 0 auto;
    padding: 15px 80px;
    border-radius: 5px;
    background-color: $yellow;
    transition: 0.3s;
}

.contact__button:hover {
    background-color: #eab300;
}

.contact__button:active {
    transform: translateY(2px);
}

.contact__button span {
    font-family: $font-montserrat;
    color: white;
    font-weight: 700;
    font-size: 2em;
}

footer {
    background: $light-black;
    color: white;
    padding: 30px;
    text-align: center;
}