/* variables */


/* responsive */

$breakpoints: ( xs: 640px, small: 768px, medium: 1024px, large: 1280px);
@mixin screen($breakpoint, $mobileFirst: true) {
    @if $mobileFirst {
        @if map-has-key($breakpoints, $breakpoint) {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                @content;
            }
        }
        @else {
            @media (min-width: $breakpoint) {
                @content;
            }
        }
    }
    @else {
        @if map-has-key($breakpoints, $breakpoint) {
            @media (max-width: #{map-get($breakpoints, $breakpoint)} - 1px) {
                @content;
            }
        }
        @else {
            @media (max-width: $breakpoint - 1px) {
                @content;
            }
        }
    }
}


/* layout */


/* CLEARFIX
Usage: @extend %clearfix; */

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
        height: 0;
    }
    &:after {
        clear: both;
    }
}

.row {
    @extend %clearfix;
}

/* CLEARTEXT */
@mixin clear-text() {
	border: 0;
	color: transparent;
	font: 0/0 a;
	text-shadow: none;
}