@import "mixin";
body {
    font-family: "Open sans", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    color: rgb(44, 44, 44);
}

* {
    box-sizing: border-box;
}

img {
    display: inline-block;
    max-width: 100%;
}

input {
    display: inline-block;
}

.row {
    &:after,
    &:before {
        content: '';
        display: table;
        visibility: hidden;
        height: 0;
    }
    &:after {
        clear: both;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
        font-size: 16px;
    }
}

// animation

@keyframes bounceInDown {
    0% {
        transform: translateY(-2000px) rotate(40deg);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    30% {
        transform: translateY(0) rotate(40deg);
    }
    40% {
        transform: translateY(-10px) rotate(40deg);
    }
    50% {
        transform: translateY(0) rotate(40deg);
        animation-timing-function: cubic-bezier(1, 0.02, 1, 0.78);
    }
    80% {
        transform: translateY(0) rotate(0deg);
        animation-timing-function: ease;
    }
    90% {
        transform: translateY(0) rotate(3deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.bounceInDown {
    transform-origin: 80% 90%;
    animation: bounceInDown 2s;
}

@keyframes bounce {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.bounce {
    animation: bounce .7s cubic-bezier(0.25, 0.1, 0.49, 1.66);
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.hide {
    display: none;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #348AC7; // fallback for old browsers
    background: linear-gradient(to top, #348AC7, #7474BF);
    z-index: 99;
    opacity: 1;
    visibility: visible;
    transition: all .5s ease;
    user-select: auto;
    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        user-select: none;
    }
}

.loader__img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include screen(small, false) {
        width: 80%;
    }
}

.cover-img {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    .form-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(#fff, 0.7);
        border-radius: 10px;
        padding: 20px;
        min-width: 300px;
    }
    .form__title {
        text-align: center;
        color: #0079c1;
    }
    .form__label {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .form__input {
        width: 100%;
        border: 0;
        padding: 10px;
        background-color: rgba(#fff, 0.5);
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .form__btn {
        cursor: pointer;
        display: block;
        margin: 10px auto;
        border: none;
        outline: none;
        padding: 10px 50px;
        box-shadow: 0 3px 10px rgba(#000, 0.3);
        background-color: rgb(255, 217, 0);
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        transition: box-shadow .5s ease;
        &:hover {
            box-shadow: 0 3px 10px rgba(#000, 0.5);
        }
        &:active {
            transform: translateY(2px);
        }
    }
}

.congratulation {
    position: relative;
    .congratulation__user {
        position: absolute;
        display: inline-block;
        text-align: center;
        top: 20px;
        width: 100%;
    }
    .congratulation__text {
        position: relative;
        height: 100vh;
    }
    .congratulation__img-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        @include screen(small) {
            width: 50%;
        }
    }
    .congratulation__image {
        width: 100%;
    }
    .congratulation__arrow {
        position: absolute;
        color: #3f3532;
        bottom: 120px;
        text-align: center;
        display: inline-block;
        width: 100%;
        animation: arrow .5s ease-in-out alternate-reverse infinite;
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -20px;
            left: 50%;
            width: 20px;
            height: 20px;
            transform: translateX(-50%) rotate(-45deg);
            border-bottom: 3px solid #3f3532;
            border-left: 3px solid #3f3532;
        }
    }
}

@keyframes arrow {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(10px)
    }
}

.gift__wrapper {
    float: left;
    width: 33.33333333333%;
}
.gift__image {
    display: block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    &.fade-in {
        opacity: 1;
    }
}

.overlay-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.7);
    z-index: 100;
    .popup__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 60px 20px;
        background: #fff;
        border-radius: 10px;
        text-align: center;
        font-size: 18px;
        @include screen(small) {
            width: auto;
            padding: 60px 120px;
        }
    }
    .popup__button {
        cursor: pointer;
        display: block;
        margin: 20px auto 0;
        padding: 10px 50px;
        background: #348AC7;
        border: 0 none;
        color: #fff;
        font-weight: bold;
        transition-duration: 0.4s;
        &:hover {
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
        }
        &:active {
            background: rgb(28, 92, 134);
        }
    }
}