* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.wrapper,
.circle-container {
    text-align: center;
}

.circle-container {
    margin: 20px auto;
}

.circle {
    background-color: #c90000;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    font-size: 2em;
    color: white;
}

.button {
    cursor: pointer;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background: #c90000;
    outline: none;
    box-shadow: 0px 2px 10px #6d6d6d;
    color: white;
    font-size: 1.5em;
}

.button:active {
    transform: translateY(2px);
}