@charset "UTF-8";
* {
  max-width: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0; }

body {
  background: #eee; }

a {
  text-decoration: none;
  color: black; }

p {
  margin: 0; }

img {
  max-width: 100%;
  outline: none;
  border: none; }

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  text-align: center;
  color: white;
  font-weight: normal; }

h2 {
  color: #db0000;
  margin: 0;
  padding: 30px 0;
  font-weight: normal;
  font-size: 2em;
  text-align: center; }

h4 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0; }

hr {
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 0; }

.hr--red {
  border-top: 2px solid #db0000; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  height: 0; }

.clearfix:after {
  clear: both; }

/* header */
.nav-bar {
  top: 0;
  height: 60px;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 100; }

.nav-bar__logo-container {
  position: relative;
  height: inherit; }

.nav-bar__logo-container img {
  position: absolute;
  display: inline-block;
  width: 50px;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.nav-bar__logo-container h2 {
  color: #db0000;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 70px;
  font-size: 1.5em; }

.toggle-btn {
  display: block;
  cursor: pointer;
  color: #db0000;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 2px solid #db0000;
  border-radius: 5px;
  padding: 0 8px; }

#menu-toggle {
  display: none; }

#menu-toggle:checked ~ .menu {
  max-height: 1000px; }

#menu-toggle:checked + label {
  color: white;
  background: #db0000; }

.menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  -o-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease; }

.menu__menu-item {
  display: block;
  background: white; }

.menu__menu-item:hover {
  background: #db0000; }

.menu__menu-item a {
  color: black;
  padding: 15px 15px 15px 25px;
  font-family: "Montserrat", Arial, sans-serif !important;
  display: block; }

.menu__menu-item:hover a {
  color: white; }

.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  margin-top: 60px; }

.hero--news {
  height: 300px;
  background-image: url("../subpage/news/img/hero.jpeg"); }

.container-align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.container-align-hero {
  width: 80%; }

.container-align--left-bottom {
  top: auto;
  bottom: 10px;
  left: 10px;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.container-align--left-bottom h1 {
  text-align: left;
  font-size: 1.3em;
  font-weight: normal; }

.container-align p {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center; }

/* about ****************************************/
#about {
  background: white; }

#about p {
  padding: 0 30px;
  font-size: 0.8em; }

#about img {
  max-width: 100px; }

#about h4 {
  font-weight: bold !important;
  padding: 5px;
  text-transform: uppercase; }

#about p {
  font-size: 0.9em; }

/* product *************************************/
#product {
  padding-bottom: 70px;
  background: white;
  text-align: center; }

#product p {
  font-size: 0.8em;
  padding: 30px 20px; }

/* news ***************************************/
#news p {
  font-size: 0.9em; }

/* history *********************************/
#history {
  background: white; }

/* location */
#location {
  background: white; }

#location .btn-container {
  padding: 40px 0;
  text-align: center; }

[class*="--align-left"] {
  text-align: left; }

[class*="--align-justify"] {
  text-align: justify; }

[class*="--align-center"] {
  text-align: center; }

.img-container {
  margin: 0 auto;
  max-width: 500px;
  position: relative; }

.img-container--mod {
  padding: 5px;
  border-top: 1px solid #ddd; }

.img-container--half {
  width: 50%;
  float: left;
  padding: 20px 3px;
  font-size: 0.8em; }

.img-container--mod:last-child {
  padding: 5px;
  border-bottom: 1px solid #ddd; }

.img-container--mod img {
  width: 35%;
  display: block;
  float: left; }

.img-container--mod p {
  width: 60%;
  float: right;
  display: block;
  font-size: 0.9em;
  font-weight: bold; }

.img-container p {
  text-align: left; }

.wrapper {
  padding: 0 20px; }

.wrapper--panel {
  padding: 20px;
  border: 1px solid #ddd;
  background: white;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 2px 5px #ddd;
  box-shadow: 0px 2px 5px #ddd;
  border-radius: 5px; }

.wrapper--padding-vertical {
  padding-top: 20px;
  padding-bottom: 20px; }

/* product-list ************************/
#product-list {
  background: #eee; }

/* news-list ***************************/
#news-list, #event-list {
  background: white;
  padding-bottom: 50px; }

#event-list > .img-container {
  padding-right: 3px;
  padding-left: 3px; }

/* footer */
footer {
  background: #990000;
  text-align: left; }

footer .wrapper > h4:first-child {
  text-align: center;
  font-size: 1em; }

footer h4 {
  text-align: left;
  margin: 0;
  padding: 10px 0;
  color: white;
  font-size: 1.3em;
  font-weight: lighter; }

footer p {
  color: white; }

footer li {
  display: inline-block;
  margin: 0 5px 10px 0; }

footer li img {
  border-radius: 5px; }

footer address {
  margin: 0;
  color: white;
  font-style: normal;
  font-size: 0.9em; }

footer .footer-container {
  padding: 20px 0; }

footer .copyright {
  text-align: center;
  background: #222;
  font-size: 0.8em;
  padding: 20px; }

/* slideshow */
.slideshow {
  position: relative;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden; }

.slideshow__img {
  display: none; }

#prev, #next {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: auto;
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 3px; }

#prev {
  left: 0; }

#next {
  right: 0; }

#prev:hover, #next:hover {
  background: rgba(0, 0, 0, 0.5); }

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }

button {
  cursor: pointer;
  background: white;
  border: 2px solid #db0000;
  border-radius: 5px;
  text-decoration: none;
  color: #db0000;
  padding: 10px 20px;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.btn-animation > span:after {
  content: "❯";
  opacity: 0;
  margin-left: -10px;
  display: inline-block;
  color: white;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.btn-animation:hover span:after {
  margin-left: 10px;
  opacity: 1; }

button:hover {
  background: #db0000;
  color: white; }

#slogan {
  font-weight: lighter;
  color: #555;
  padding: 20px 30px; }

#map {
  padding-bottom: 50%; }

.font--small {
  font-size: 0.8em; }

.font--light {
  font-weight: lighter; }

a:hover .read-more {
  text-decoration: underline; }

.read-more {
  text-decoration: none;
  color: #db0000;
  display: inline-block; }
