/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
* {
  font-family: "Open Sans"; }

html, body {
  margin: 0;
  padding: 0; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

p {
  font-size: 1.143em; }

ul {
  margin: 0;
  padding-left: 10px; }

nav {
  background: white;
  font-size: 1.15em;
  position: relative; }
  nav a {
    text-decoration: none;
    color: black; }
  nav li {
    display: inline-block;
    margin: 10px 20px; }
  nav li a:hover {
    color: #00B13F; }
  nav a {
    text-decoration: none; }

.logo-container {
  float: left;
  max-width: 20%;
  padding-left: 30px; }
  .logo-container img {
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.dropdown {
  position: relative; }

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(0, 158, 55, 0.9);
  font-size: 0.8em;
  z-index: 1;
  border-radius: 3px; }
  .dropdown-content ul {
    padding: 0;
    margin: 0; }
  .dropdown-content li {
    padding: 0;
    margin: 0;
    display: block;
    color: white; }
    .dropdown-content li a {
      padding: 10px;
      color: white;
      display: block; }
  .dropdown-content li:hover {
    background: #00b13f;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px; }
  .dropdown-content a:hover {
    color: white; }

.dropdown:hover .dropdown-content {
  display: block; }

.nav1-container {
  float: left;
  padding: 10px 0 10px 150px;
  width: 50%; }

.nav2-container {
  float: right;
  padding: 10px 0;
  width: 30%; }
  .nav2-container .dropdown-content {
    min-width: 250px; }

/* herooooooooooooooo */
.hero-container {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* full screen */
  height: 0;
  padding-bottom: 50%;
  position: relative; }
  .hero-container .hero-text {
    background: rgba(0, 0, 0, 0.3);
    padding: 0 5%;
    color: white;
    position: absolute;
    bottom: 20%;
    max-width: 30%;
    text-shadow: 2px 2px 5px #000; }
    .hero-container .hero-text h1 {
      font-size: 3.1em;
      margin: 0; }

.showcase-item {
  float: left;
  margin: 10px;
  width: 350px;
  overflow: hidden;
  position: relative; }
  .showcase-item .gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    visibility: hidden;
    /* z-index: 1; */ }
  .showcase-item:hover > img {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25); }
  .showcase-item:hover .gradient {
    visibility: visible; }
  .showcase-item .showcase-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold; }
    .showcase-item .showcase-text p {
      padding: 10px;
      background: white;
      border-radius: 5px; }
    .showcase-item .showcase-text a {
      text-decoration: none;
      color: white;
      visibility: hidden; }
    .showcase-item .showcase-text a:hover {
      text-decoration: underline; }
  .showcase-item > img {
    display: block;
    width: 100%;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease; }

.section1 .showcase-item:hover a {
  visibility: visible; }

h2 {
  font-size: 2.571em;
  color: #00BA51; }

.section1 {
  text-align: center; }
  .section1 h2 {
    font-size: 2.571em;
    color: #00BA51;
    text-transform: uppercase; }
  .section1 .showcase-container {
    display: inline-block;
    margin-bottom: 80px; }

.section2 {
  background: #FAFAFA;
  padding: 10px 0;
  text-align: center; }
  .section2 .showcase-container {
    display: inline-block;
    margin: 0 20px; }
    .section2 .showcase-container .showcase-item {
      margin: 0;
      max-width: calc(100%/3); }
      .section2 .showcase-container .showcase-item .item-container {
        padding: 20px; }
        .section2 .showcase-container .showcase-item .item-container h4 {
          font-size: 1.429em;
          color: #00BA51; }
        .section2 .showcase-container .showcase-item .item-container img {
          display: inline-block; }

.section3 {
  text-align: center; }
  .section3 h2 {
    margin-bottom: 0; }
  .section3 .mobile-bg {
    width: 50%;
    text-align: right;
    float: left; }
    .section3 .mobile-bg img {
      display: block;
      max-height: 580px;
      width: auto;
      float: right;
      /* height: 100%; */ }
  .section3 .procedure-text {
    display: block;
    text-align: left;
    width: 50%;
    float: right;
    /* height: 580px; */ }
    .section3 .procedure-text .custom-counter {
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      list-style-type: none; }
    .section3 .procedure-text li {
      counter-increment: step-counter;
      margin: 3em 1em; }
      .section3 .procedure-text li h4 {
        display: inline-block;
        font-size: 1.429em;
        color: black;
        margin: 0.5em 0;
        /* customize ol */ }
      .section3 .procedure-text li::before {
        content: counter(step-counter);
        margin-right: 5px;
        font-size: 1.2em;
        /* background-color: #00BA51; */
        color: #00BA51;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 3px;
        border: 2px solid #00BA51; }
      .section3 .procedure-text li p {
        margin: 0.2em 0;
        padding-left: 2.8em; }
    .section3 .procedure-text li:hover:before {
      background: #00BA51;
      color: white; }
    .section3 .procedure-text li:hover h4, .section3 .procedure-text li:active h4 {
      color: #00BA51; }

.section4 {
  text-align: center;
  position: relative; }
  .section4 .banner-container {
    background-image: url("../img/banner_download.jpg");
    background-size: cover;
    padding: 6em 1em; }
    .section4 .banner-container h2 {
      margin: 0;
      color: white; }
    .section4 .banner-container .download p {
      display: block;
      color: white;
      font-weight: bold; }
    .section4 .banner-container .download .blockleft {
      width: 50%;
      float: left;
      text-align: right;
      /* border-right: 2px solid white; */ }
      .section4 .banner-container .download .blockleft .qr-container {
        padding-right: 40px;
        float: right;
        text-align: left; }
      .section4 .banner-container .download .blockleft #qrcode {
        max-width: 120px; }
    .section4 .banner-container .download .blockright {
      width: 50%;
      float: right;
      text-align: left; }
      .section4 .banner-container .download .blockright .ggcontainer {
        padding-left: 40px; }
      .section4 .banner-container .download .blockright #ggplay {
        max-height: 50px; }

footer {
  background: #00B140;
  color: white;
  font-size: 1.215em;
  /* display: block; */ }
  footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: bold; }
    footer ul li {
      font-weight: normal;
      margin: 0.2em 0; }
  footer p {
    margin: 0;
    padding: 0; }
  footer .info-container {
    padding: 70px 0;
    margin: 0 50px;
    border-bottom: 1px solid white; }
    footer .info-container .block1 {
      display: block;
      width: 25%;
      /* padding: 0 20px; */
      float: left; }
      footer .info-container .block1 .logo-footer {
        max-height: 35px;
        padding-bottom: 5px; }
      footer .info-container .block1 p {
        padding-right: 40px; }
    footer .info-container .block2 {
      float: left;
      width: 18.75%; }
      footer .info-container .block2 h4 {
        margin: 0 0 1em; }
      footer .info-container .block2 a {
        text-decoration: none;
        color: white; }
        footer .info-container .block2 a:hover {
          text-decoration: underline; }
      footer .info-container .block2 img {
        max-width: 150px;
        margin: 70px 0 0; }
  footer .bottom-text {
    text-align: center; }
    footer .bottom-text h4 {
      margin: 0;
      padding: 3em 0 0;
      text-transform: uppercase;
      font-size: 1.2em; }
  footer .icon-container {
    text-align: center; }
    footer .icon-container .icon-footer {
      display: inline-block;
      max-width: 30px;
      margin: 20px; }
    footer .icon-container a:hover .icon-footer {
      -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
      transform: scale(1.25); }
